.bg-glasses {
  background: url(../../../public/glassesImage/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-glasses .row {
  text-align: center;
}
.bg-glasses .row .model-left {
  position: relative;
}
.bg-glasses .row .model-left .img-content {
  background-color: rgba(247, 126, 12, 0.4);
  position: absolute;
  top: 225px;
  left: 0px;
  text-align: left;
  margin: 0 145px;
  padding: 5px 10px;
  overflow: hidden;
}
.bg-glasses .row .model-left .img-content h3 {
  font-size: 16px;
  color: blue;
}
.bg-glasses .row .model-left .img-content p {
  font-size: 14px;
  color: #fff;
}
.bg-glasses .row .model-left .img-glass img {
  width: 150px;
  position: absolute;
  top: 90px;
  left: 211px;
}
.bg-glasses .render-bg {
  background-color: #fff;
  padding: 20px 10px;
  margin: 20px 40px;
  text-align: center;
}
.bg-glasses .render-bg img {
  border: 1px solid grey;
  padding: 5px;
  margin: 20px 30px;
}